@using SoftrockDocsStagingModel;
@using System.Data.Objects.SqlClient;

@{

    Page.Title = "WB5RVZ.ORG - KITS' Documentation Home Page";    
    

}
<h2>Introduction</h2>

<p>This site is the ultimate successor to my original SDR (and other) projects website,
<a href="http:/www.wb5rvz.com/index.html">WB5RVZ.<b>com</b></a>.  That site had several limitations,
chief among which was the fact that the pages on the site were static.</p>
<p>This site, as it builds out, will contain dynamically generated pages,
allowing me to make the process of documenting band-specific variations of the same
Softrock kit much easier to create and digest.</p>
<p>In addition, I will get much more flexibility and responsiveness in the process
of keeping the documentation maintained and up-to-date.</p>
<p>The first project to go up will be the newest kit offered by Tony, KB9YIG, the
Softrock 40 "Revisited" (R2).  Since I do not have all the facilities in place at the start,
this kit will proceed a bit more slowly in building out the documentation.  
The documentation, in its final stages, will provide the same staged, "Heathkit-like",
"test-as-you-go" experience many have found helpful in the past.
</p>