vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Feb 2012 19:19:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Rob-PC\\RRR
vti_modifiedby:SR|Rob-PC\\RRR
vti_timecreated:TR|04 Feb 2012 19:19:10 -0000
vti_cacheddtm:TX|04 Feb 2012 19:19:10 -0000
vti_filesize:IR|8438
vti_cachedlinkinfo:VX|S|css_images/tools.gif S|css_images/TestIt.jpg S|css_images/Scope.jpg S|css_images/gotcha.gif S|css_images/esd.gif S|css_images/radiotest.gif S|css_images/ScientistInLabcoat.gif S|http://www.wb5rvz.com/sdr/images/pc.gif
vti_cachedsvcrellinks:VX|FSUS|SoftrockDocs_Deprecated/Styles/css_images/tools.gif FSUS|SoftrockDocs_Deprecated/Styles/css_images/TestIt.jpg FSUS|SoftrockDocs_Deprecated/Styles/css_images/Scope.jpg FSUS|SoftrockDocs_Deprecated/Styles/css_images/gotcha.gif FSUS|SoftrockDocs_Deprecated/Styles/css_images/esd.gif FSUS|SoftrockDocs_Deprecated/Styles/css_images/radiotest.gif FSUS|SoftrockDocs_Deprecated/Styles/css_images/ScientistInLabcoat.gif NSHS|http://www.wb5rvz.com/sdr/images/pc.gif
vti_backlinkinfo:VX|
